<header class="main-header">
    <div class="navigation">
        <img class="navigation__logo" src="img/Tesla-Wordmark-Red.png" alt="Tesla logo">
        <nav class="navigation__menu">
            <div class="navigation__left">
                <a class="navigation__item navigation__item_active" href="">Model S</a>
                <a class="navigation__item" href="">Model X</a>
                <a class="navigation__item" href="">Model 3</a>
                <a class="navigation__item" href="">Roadster</a>
                <a class="navigation__item" href="">Energy</a> 
            </div>
            <div class="navigation__right">
                <a class="navigation__item" href="">Магазин</a>
                <a class="navigation__item" href="">Войти</a>  
            </div>
        </nav>
        <button class="navigation__burger"></button>
    </div>
</header>