<section class="function">
    <div class="function__column1">
        <h2 class="function__heаder">Model S</h2>
    </div>
    <div class="function__column2">
        <span class="function__item">Будущее вождения</span>
        <p class="function__description">Модель S обладает лучшей в своем классе вместимостью: в машине поместится до пяти взрослых и двух детей.
            Оснащена современным 17-дюймовым сенсорным экраном. Усовершенствованная шумовая инженерия создает
            динамику звука, сравнимую с студией звукозаписи, а стеклянная крыша обеспечивает просторный интерьер для
            каждого пассажира.</p>
        <div class="function__parametr1 parametr parametr_white">
            <span class="parametr__column">
                <span class="parametr__value">17 <span class="parametr_size">дюймов</span></span>
                <span class="parametr__var">Большой Дисплек</span>
            </span>
        </div>
        <div class="function__parametr2 parametr parametr_white">
            <span class="parametr__column">
                <span class="parametr_size parametr_size_font-bold">Беспроводное <br>обновление ПО</span>
                <span class="parametr__var">Повышенная <br>функциональность</span>
            </span>
        </div>
        <div class="function__parametr3 parametr parametr_white">
            <span class="parametr__column">
                <span class="parametr__value">894 <span class="parametr_size">литра</span></span>
                <span class="parametr__var">Объем грузового <br>пространства</span>
            </span>
        </div>
        <span class="function__about">Узнать больше</span>
        <button class="function__button order-button order-button_white">Заказать</button>
    </div>
</section>