<section class="intro">
    <h1 class="intro__header">Model S</h1>
    <p class="intro__paragraph">Добро пожаловать в будущее!</p>
    <div class="intro__footer">
        <div class="intro__speed parametr parametr_red">
            <span class="parametr__column">
                <span class="parametr__value">2,7 <span class="parametr_size">сек</span></span>
                <span class="parametr__var">0-100 км/час</span>    
            </span>
        </div>
        <div class="intro__road parametr parametr_red">
            <span class="parametr__column">
                <span class="parametr__value">632 <span class="parametr_size">км</span></span>
                <span class="parametr__var">запас хода</span>     
            </span>
        </div>
        <span class="intro__drive">тест драйв</span>
        <button class="intro__button order-button order-button_red">Заказать</button>
    </div>
    <a class="go-to-footer" href="#footer"></a>
</section>