<section class="feature" id="footer">
    <div class="feature__column1">
        <span class="feature__item">Самый безопасный автомобиль в мире</span>
        <p class="feature__description">Модель S достигла наивысшей оценки безопасности любого автомобиля, когда-либо испытанного, и установила
            рекорд по наименьшей вероятности травмы пассажиров - от несчастных случаев на переднем, боковом, заднем
            сидении и в ДТП с переворотом авто.</p>
        <span class="feature__rating">Оценка защиты:</span>
        <div class="feature__stars">
           <span class="feature__box"><span class="feature__star">спереди</span> </span>
           <span class="feature__box"><span class="feature__star">сбоку</span></span>
           <span class="feature__box"><span class="feature__star">сбоку <sub class="feature__star_sub">(стойка)</sub></span></span>
           <span class="feature__box"><span class="feature__star">водитель</span></span>
           <span class="feature__box"><span class="feature__star">пассажир</span></span>
        </div>
        <span class="feature__secure-container">
            <span class="feature__star-secure">5 звезд</span>
            <span class="feature__secure">безопасности</span>
        </span>
        <span class="feature__about">Узнать больше</span>
        <button class="feature__button order-button order-button_white">Заказать</button>
    </div>
    <div class="feature__column2">
        <h3 class="feature__header">Model S</h3>
        <img class="feature__img" src="img/car-frame-group.png">
        <div class="feature__copyright webhero">
            <span class="webhero__text">разработано в</span>
            <img class="webhero__logo" src="img/whs.png">
        </div>
    </div>
</section>